<div class="text-center" *ngIf="user">
  <div class="notification is-success">
    <h1>Hello {{ user.displayName }}!</h1>
    <p>
      Congrats You logged in without a password!
    </p>
  </div>
  <button (click)="auth.signOut()">Logout</button>
</div>

<div *ngIf="!user">
  <p class="text-center">Please login.</p>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" [(ngModel)]="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div>
    <div class="form-group">
      <button type="button" class="btn btn-block btn-default" (click)="auth.sendEmailLink(email)" [disabled]="email.length < 3">Login with Mail Link</button>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-block btn-primary" (click)="auth.facebookLogin()">Login with Facebook</button>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-block btn-danger" (click)="auth.googleLogin()">Login with Google</button>
    </div>
  </div>
  <div *ngIf="emailSent" class="notification is-info">
    Cool! We sent you an email with your login link
  </div>
  <div *ngIf="errorMessage && !emailSent" class="notification is-danger">
    {{ errorMessage }}
  </div>
</div>