// // Normal
// @font-face {
//   font-family: 'Nunito';
//   src: url('assets/fonts/Nunito/Nunito-Regular.ttf');
//   font-style: normal;
//   font-weight: 400;
// }
// @font-face {
//   font-family: 'Nunito';
//   src: url('assets/fonts/Nunito/Nunito-Italic.ttf');
//   font-style: italic;
//   font-weight: 400;
// }
// // Bold
// @font-face {
//   font-family: 'Nunito';
//   src: url('assets/fonts/Nunito/Nunito-Bold.ttf');
//   font-style: normal;
//   font-weight: 700;
// }
// @font-face {
//   font-family: 'Nunito';
//   src: url('assets/fonts/Nunito/Nunito-BoldItalic.ttf');
//   font-style: italic;
//   font-weight: 700;
// }
// // Light
// @font-face {
//   font-family: 'Nunito';
//   src: url('assets/fonts/Nunito/Nunito-Light.ttf');
//   font-style: normal;
//   font-weight: 300;
// }
// @font-face {
//   font-family: 'Nunito';
//   src: url('assets/fonts/Nunito/Nunito-LightItalic.ttf');
//   font-style: italic;
//   font-weight: 300;
// }
