////
/// Configuration globale du projet.
/// @group global~config
////
// Typographie
//------------------------------------------------------------------------------
/// Font size attribute applied to `<html>` and `<body>`. We use 100% by default so the value is inherited from the user's browser settings.
/// @type Number
$font-size: 1rem !default;
/// Global width of your site. Used by the grid to determine row width.
/// @type Number
$global-width: 71.25rem !default;
/// Line height par défaut exprimée en rem.
/// @type Number
$baseline: 1.5rem !default;
/// Font stack of the body.
/// @type List
$font-family: 'Nunito Regular', 'Nunito', 'jc-symbols', 'Helvetica Neue', 'Roboto', Arial, sans-serif;
/// Global value used for all elements that have a border radius.
/// @type Number
$global-radius: .75rem;
// Couleurs
//------------------------------------------------------------------------------
// Couleurs neutres
/// Couleur très très claire (blanc).
/// @type Color
$xx-light: #fff !default;
/// Couleur très claire.
/// @type Color
$x-light: #f2f2ec !default;
/// Couleur claire.
/// @type Color
$light: #f6f6f6 !default;
/// Couleur neutre.
/// @type Color
$neutral: $light !default;
/// Couleur sombre.
/// @type Color
$dark: #4a5154 !default;
/// Couleur très sombre
/// @type Color
$x-dark: #000 !default;
/// Couleur principale commune à l'ensemble des colorscheme
/// @type Color
$main-color: #14f397 !default;
/// Couleur de fond par défaut des pages.
/// @type Color
$body-background: $x-light !default;
/// Couleur de fond claire
/// @type Color
$background-light: $xx-light !default;
/// Couleur de fond alternative
/// @type Color
$background-alt: $light !default;
/// Couleur par défaut des textes.
/// @type Color
$font-color: $dark !default;
/// Couleur par défaut des titres
/// @type Color
$hn-font-color: $x-dark !default;
/// Thème de couleur du site
/// @type Map<Color[]>
$colorscheme: (
    'light': (#ffc766, #ffeccc),
    'primary': (#ffa200, #ffc766),
    'dark': (#996100, #cc8100)
) !default;
//
//------------------------------------------------------------------------------
// A list of named breakpoints
// @type Map
$breakpoints: (
  tiny: 0px,
  small: 481px,
  medium: 801px,
  large: 1140px,
  xlarge: 1780px
) !default;

