<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" [routerLink]="['/']">Marvel Project Universe</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <!-- <a class="nav-item nav-link" routerLinkActive="active" >Home</a> -->
      <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['/movies']">DriveIn</a>
      <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['/tasks']">Todo-list</a>
      <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['/profile']">Dossier du Shield</a>
      <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['oups']">Coming soon !</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://gitlab.com/Horsty" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/cy_hue" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://linkedin.com/in/cyril-hue" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
  </div>
</nav>