<h1 class="text-center">Liste des block-buster de l'année</h1>
  <div class="row">
    <div *ngFor="let movie of movies" class="align-self-stretch col-4 my-2">
      <app-card [movie]=movie></app-card>
    </div>
  </div>