<!-- User logged in -->
  <div class="container text-center">
    <h3>Howdy, {{ user.displayName }}</h3>
    <div class="thumbnail col-12 text-center">
      <img class="img-fluid" alt="photo profil enregistrée" [src]="user.photoURL">
    </div>
    <p>UID: {{ user.uid }}</p>
    <button (click)="auth.signOut()">Logout</button>
  </div>