<div class="container text-center">
  <h1>Oups!!</h1>
  <p>You're lost!!</p>
  <p>Because i'm Batman!!</p>
  <div class="thumbnail col-12 text-center">
    <img src="../../../assets/media/illus/404-not-found.jpg" class="img-fluid" alt="Image de légo batman et légo superman">
  </div>
</div>