<div class="jumbotron col-4 offset-md-4">
  <table class="table table-responsive">
    <tr *ngFor="let task of tasks; let i=index" [attr.data-index]="i">
      <td>{{ i + 1 }}</td>
      <td>{{ task.description }}</td>
      <td>
        <button class="btn btn-success" (click)="edit(task)">
          <i class="fa fa-edit"></i>
        </button>
        <button class="btn btn-danger" (click)="deleteTask(task)">
          <i class="fa fa-remove"></i>
        </button>
      </td>
    </tr>
  </table>

  <form #f="ngForm">
    <div class="form-group">
      <input [(ngModel)]="myTask" name="myTask" type="text" class="form-control" placeholder="Enter Task" required>
    </div>
    <p *ngIf="loading">
      <i class="fa fa-spinner fa-spin"></i>
    </p>
    <div class="form-group">
      <button class="btn btn-block btn-primary" [disabled]="!f.valid" (click)="saveTask()">
        Save Task
      </button>
    </div>
  </form>
</div>