section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.600);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
}

@keyframes bouncing-loader {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

.bouncing-loader>div {
  width: 0.5em;
  height: 0.5em;
  margin: 0 0.2em;
  background: white;
  border-radius: 99em;
  animation: bouncing-loader 0.6s infinite alternate;
  display: inline-block;
}

.bouncing-loader>div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader>div:nth-child(3) {
  animation-delay: 0.4s;
}
