<section *ngIf="loaderService.isLoading | async">
  <div class="h1 text-white p-2">Veuillez patienter</div>
  <div class="bouncing-loader">
    <div></div>
    <div></div>
    <div></div>
  </div>
</section>