/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/css/font-awesome.css';
@import 'assets/scss/settings';
@import 'assets/scss/font-face';
@import '../node_modules/normalize.css/normalize.css';
// Structure
//------------------------------------------------------------------------------
* {
  box-sizing: border-box;
}
body {
  background-color: $body-background;
  color: $font-color;
  font-family: $font-family;
  font-size: $font-size;
  line-height: 1em;
}
.module {
  max-width: 1100px;
  box-sizing: border-box;
  list-style: none;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  width: 100%;
  position: relative;
}
// Typographie
//------------------------------------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $hn-font-color;
  display: block;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  margin: 0;
}
p {
  line-height: $baseline;
}
pre, code {
  font-family: "Fira Mono";
  font-size: 14px;
}
section {
  margin-bottom: 3rem;
}
// Misc
//------------------------------------------------------------------------------
[title]:not(a){
  cursor: help;
}
//icon
//-----------------------------------------------------------------------------
.icon {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  shape-rendering: geometricPrecision;
}
// social buttons
//-----------------------------------------------------------------------------
.social-icons {
  position: absolute;
  margin-bottom: 2rem;
  width: 100%;
}
.social-icons ul {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}
.social-icons ul > li {
  margin-left: 1rem;
  margin-right: 1rem;
  display: inline-block;
}
.social-icons ul > li > a {
  display: block;
  color: white;
  background-color: rgba(0, 46, 102, 0.8);
  border-radius: 100%;
  font-size: 2rem;
  line-height: 4rem;
  height: 4rem;
  width: 4rem;
}
@media (min-width: 768px) {
  .social-icons {
    margin: 0;
    position: absolute;
    right: 2.5rem;
    bottom: 2rem;
    width: auto;
  }
  .social-icons ul {
    margin-top: 0;
    width: auto;
  }
  .social-icons ul > li {
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .social-icons ul > li:last-child {
    margin-bottom: 0;
  }
  .social-icons ul > li > a {
    transition: all 0.2s ease-in-out;
    font-size: 2rem;
    line-height: 4rem;
    height: 4rem;
    width: 4rem;
  }
  .social-icons ul > li > a:hover {
    background-color: #002E66;
  }
}
