<h2 class="text-center">Infos sur le film</h2>
<div *ngIf="movie" class="jumbotron mt-4 d-flex">
  <div class="col-6 d-flex">
    <img class="col-3 img-movie" src="https://image.tmdb.org/t/p/w780/{{ movie.posterPath }}" alt="Card image cap">
    <div class="col-9">
      <h2>
        {{ movie.title }}
      </h2>
      <p>
        {{ movie.releaseDate }}
      </p>
      <p>
        {{ movie.synopsis }}
      </p>
    </div>
  </div>
  <div *ngIf="movie && movie.persons.length" class="col-6">
    <h2>Distribution</h2>
    <div class="row d-flex">
      <div *ngFor="let person of movie.persons" class="col-3">
        <img class="img-distrb" src="https://image.tmdb.org/t/p/w780/{{ person.profilePath }}"
        alt="Card image cap">
        <p class="text-center">{{ person.name }}</p>
      </div>
    </div>
  </div>
  <div class="col-6 align-self-center" *ngIf="movie && !movie.persons.length">
    <p class="text-center">
      Aucune distribution enregistrée
    </p>
  </div>
</div>
<div class="mb-3 text-center">
  <a href="javascript:void(0)" (click)="goBack()" class="btn btn-primary">Retourner à la liste</a>
</div>