<div class="card h-100">
  <img class="card-img-top img-fluid" [routerLink]="['./', movie.id]" src="https://image.tmdb.org/t/p/w780/{{ movie.posterPath }}"
    alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ movie.title }}</h5>
    <p class="card-text mh-3">{{ movie.synopsis }}</p>
  </div>
  <div class="card-footer text-center">
      <a [routerLink]="['./', movie.id]" class="btn btn-secondary">En savoir plus</a>
  </div>
</div>